body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 1em;
  background: #7377bd;
  color: #fff;
  font-size: 1.3em;
}

h2 {
  margin-top: 0;
}

.logo {
  margin: 0.5em 0 1em;
}

.avatar {
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 1px 1px 0 #444;
  margin: 0.5em;
}

.username a {
  margin: 1em;
  text-decoration: none;
  color: #fff;
}

.main-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  background: #4c4b70;
  margin: 0;
  padding: 0;
}

.main-nav li a {
  display: block;
  text-decoration: none;
  padding: 1em;
  font-size: 1.25em;
  color: #fff;
  transition: background 0.3s linear, color 0.3s linear;
}

.main-nav li:hover {
  background: #fff;
}

.main-nav li:hover a .nav-icon {
  fill: #4c4b70;
}

.search {
  padding: 10px 20px;
  border-radius: 5px;
}

.alert {
  background: #4c4b70;
  color: #fff;
  border-radius: 5px;
  padding: 12px 24px;
  margin-bottom: 20px;
  opacity: 0.9;
}

.alert span {
  font-weight: 700;
  margin-right: 10px;
}

.alert__msg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close {
  cursor: pointer;
  font-size: 2em;
  margin-left: auto;
}

.close:hover {
  opacity: 0.5;
}

.closeAlert {
  animation: fade 0.8s ease-in-out forwards 1;
}

@keyframes fade {
  0% {
    opacity: 0.5;
    margin-bottom: 0;
  }

  40% {
    opacity: 0;
  }

  90% {
    margin-bottom: -80px;
  }

  100% {
    opacity: 0;
    margin-bottom: -80px;
  }
}

.container {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
}

.row {
  width: 100%;
  border-bottom: 2px solid #9e9e9e;
  padding: 30px 0;
}
/*
.row:nth-child(n) {

}

.row:nth-child(2n) {

} */

[class^='col-'] {
  width: 100%;
  box-sizing: border-box;
}

.clearfix {
  display: table;
  content: "";
  clear: both;
}

.social {
  background: lightgrey;
  border: 1px solid darkgrey;
  padding: 5px;
  box-sizing: border-box;
}

.social:last-of-type {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
  }
  .logo {
    margin: 1em auto 1em 0;
  }
  #dashboard {
    position: absolute;
    top: 35px;
    margin-top: 0;
  }
  .search {
    position: absolute;
    right: 45px;
  }
  .alert {
    margin-top: 70px;
  }

  .col-6 {
    width: 50%;
    float: left;
  }
  .col-4 {
    width: 100%;
  }
  .social {
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .col-4 {
    width: 32%;
    float: left;
  }
  .social {
    margin-right: 1.5%;
  }
}
