body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 1em;
  background: #7377bd;
  color: #fff;
  font-size: 1.3em;
}

h1, h2, h3, h4 {
  color: #555;
}

h2 {
  margin-top: 0;
  text-transform: uppercase;
}

.logo {
  margin: 0.5em 0 1em;
}

.bell {
  padding: 0.5em;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 1px 1px 0 #444;
  margin: 0.5em;
}

.username a {
  margin: 1em 1em 1em 0.5em;
  text-decoration: none;
  color: #fff;
}

.main-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  background: #4c4b70;
  margin: 0;
  padding: 0;
}

.main-nav li a {
  display: block;
  text-decoration: none;
  padding: 1em;
  font-size: 1.25em;
  color: #fff;
  transition: background 0.3s linear, color 0.3s linear;
}

.main-nav li:hover {
  background: #fff;
}

.main-nav li:hover a .nav-icon {
  fill: #4c4b70;
}

.search {
  padding: 10px 20px;
  border-radius: 5px;
}

.alert {
  background: #4c4b70;
  color: #fff;
  border-radius: 5px;
  padding: 12px 24px;
  margin-bottom: 20px;
  opacity: 0.9;
}

.alert span {
  font-weight: 700;
  margin-right: 10px;
}

.alert__msg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close {
  cursor: pointer;
  font-size: 2em;
  margin-left: auto;
}

.close:hover {
  opacity: 0.5;
}

.closeAlert {
  animation: fade 0.8s ease-in-out forwards 1;
}

@keyframes fade {
  0% {
    opacity: 0.5;
    margin-bottom: 0;
  }

  40% {
    opacity: 0;
  }

  90% {
    margin-bottom: -80px;
  }

  100% {
    opacity: 0;
    margin-bottom: -80px;
  }
}

.container {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
}

.row {
  width: 100%;
  border-bottom: 2px solid #9e9e9e;
  padding: 2em 0;
}

/*
.row:nth-child(n) {

}

.row:nth-child(2n) {

} */

[class*='col-'] {
  width: 100%;
  box-sizing: border-box;
}

.clearfix {
  display: table;
  content: "";
  clear: both;
}

.thumb {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin: 0 0 10px;
  align-self: flex-start;
}

.member,
.post {
  border-bottom: 1px solid #D3D3D3;
  padding: 40px 0;
  margin-right: 3em;
}

.member:first-of-type,
.post:first-of-type {
  padding-top: 0;
}

.member:last-of-type,
.post:last-of-type {
  border-bottom: none;
}

.member p,
.post p {
  margin: 0;
}

.member p:nth-last-child(2n) {
  margin-bottom: 20px;
}

.member a {
  text-decoration: none;
  color: #4c4b70;
}

.more {
  display: block;
  font-size: 2em;
  font-weight: 700;
  color: #555;
  cursor: pointer;
  transition: transform 1s ease-in-out;
}

.more:hover {
  transform: translateX(5px);
}

.more:active {
  transform: translateX(0);
  position: relative;
  top: 2px;
  left: 2px;
}

.social {
  background: #ededed;
  border: 1px solid #a9a9a9;
  color: #444;
  padding: 1em 1em 1em 2em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.social:last-of-type {
  margin-right: 0;
}

.icon-container {
  padding: 0.5em;
  background: #7377bd;
  border-radius: 50%;
}

.social-icon {
  fill: #fff;
}

.social-text {
  margin-left: 1.7em;
}

.social-heading {
  margin: 0;
  color: #7377bd;
}

.large {
  font-size: 3em;
  font-weight: 300;
  margin: 0;
}

.contact-form {
  width: 100%;
}

.contact-form * {
  display: block;
  margin: 20px 0;
}

input[type="text"],
textarea {
  width: 87%;
  padding: 0;
  border: 2px solid #ccc;
  border-radius: 3px;
  padding: 7px;
  background-color: #e8e9eB;
  color: #555;
  transition: all 0.5s;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border: 2px solid #7377bd;
  background-color: #fefefe;
}

.btn {
  background: none;
  color: inherit;
  border: 2px solid #4c4b70;
  border-radius: 5px;
  padding: 10px 20px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 90%;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.2em;
  transition: all 0.7s;
}

.btn--default {
  background: #4c4b70;
  color: #fff;
}

.btn--cancel {
  background: #878787;
  border-color: #878787;
  color: #fff;
}

.btn--default:hover {
  color: #4c4b70;
  background: #fff;
}

.btn--cancel:hover {
  color: #878787;
  border-color: #878787;
  background: #fff;
}

.profile-settings * {
  margin: 0 auto;
}

#settings .btn {
  width: 48%;
}

#settings select {
  display: block;
  margin: 0 0 20px;
  width: 60%;
}

.switch-ios.switch-light {
  margin-bottom: 40px;
}

.switch-ios.switch-light > span {
  margin-top: 5px;
  max-width: 30%;
}
.switch-ios.switch-light input:checked ~ span a {
  left: 90%;
}


@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
  }
  .logo {
    margin: 1em auto 1em 1em;
  }
  .bell {
    border-right: 1px solid #4c4b70;
    padding: 0.7em;
  }
  .avatar {
    height: 48px;
    width: 48px;
    margin: 0.5em 0.5em 0.5em 1em;
  }
  .member time {
    align-self: flex-end;
    margin-top: -40px;
  }
  #dashboard {
    position: absolute;
    top: 35px;
    margin-top: 0;
  }
  .search {
    position: absolute;
    right: 45px;
  }
  .alert {
    margin-top: 70px;
  }
  .col-6 {
    width: 50%;
    float: left;
  }
  .col-6:nth-child(2n) {
    border-left: 2px solid #9e9e9e;
    padding-left: 2em;
  }
  .col-4 {
    width: 49%;
    float: left;
  }
  .social {
    margin-right: 0;
  }
  .switch-ios.switch-light > strong {
    display: inline-block;
    width: 50%;
  }

  .switch-ios.switch-light > span {
    top: 10px;
    left: 70px;
    width: 25%;
    display: inline-block;
  }

}

@media screen and (min-width: 1024px) {
  .col-4 {
    width: 32%;
    margin: 0;
  }
  .social {
    margin-right: 1.5%;
    justify-content: center;
  }
}
